{% extends 'base.html' %}

{% block title %}
            Contact
{% endblock title %}


{% block body %}

<style>
    label{
        font-size: 20px;
    }
</style>

<div class="container my-5">
    <h4 class="text-center">Contact Form</h4>
    <div class="col-11 col-md-6 mx-auto shadow">
        <form class="p-3" action="" method="POST">
            {% csrf_token %}
            {{ contact_form.as_p }}      
            <button class="btn btn-primary col-12" type="submit">Save</button>
        </form>

        <h4>Contact Data List</h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>               
                {% for c in contact_data %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ c.name }}</td>
                    <td>{{ c.email }}</td>
                    <td>{{ c.phone }}</td>
                  </tr>
    
                {% endfor %}
                    

            </tbody>
          </table>
    </div>
</div>
    

{% endblock body %}
    